*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.div1
{
    background-color: black;
    /* width: 100%; */
    color: white;
}


@media(max-width:768px) {
    .div1
    {
        color: tomato;
        display: none;
        
    }
    .paragraph
    {
        margin-left: -12px;
    }
    .a{
        display: none;
    }
    
}

.sec2
{
    margin-top: 2%;
}

.setdiv
{
    /* background-color: rgb(194, 125, 125); */
    width: 20%;
    margin-left: 5%;
    box-shadow: 10px 10px 5px grey;
    /* background-color: black; */
    padding: 0px;
}
.setdiv img{
    width: 100%;
    
}
.setheading
{
    margin-top: 10%;
    text-align: center;
    color: #e20c0c;
}
.setpara
{
    margin-top: 8%;
    color: black;
    font-size: 18px;
    text-align: center;
    /* text-align:justify ; */
}
.setdiv .btn1
{
    margin-top:5%;
    margin-bottom: 5%;
    margin-left:25%;
    color: white;
    font-size: bold;
    font-weight: 500;
    border: 2px solid rgb(163, 58, 58);
    border-radius: 45px;
    padding: 2%;
    width: 60%;
    background: linear-gradient(to right, red , yellow);
}



.card2
{
    /* background-color: aqua; */
    margin-left: 2%;
    /* margin-top: 6px; */
    /* box-shadow: 10px 10px 5px grey; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* box-shadow: 10px 10px 5px grey; */
    /* width:70%; */
}

.card2
{
    margin-top: 3%;
}
.btun
{
    position: relative;
    top: -35px;
    margin-left: -12px;
    /* background-color: teal; */
}
.btn3
{
    background-color: rgb(142, 214, 214);
    border: none;
    padding:5px;
    border-top:1px solid black ;
    border-left:1px solid black ;
    border-right:1px solid black ;
    
}

.card2 img
{
    width: 100%;
    margin-top: -35px;
}

.line
{
    border-bottom: 2px solid black;
    width: 35%;
    margin-top: 10px;
    
}
.parag
{
    margin-top: 20px;
    width: 60%;
}
.paraga
{
    margin-top: 20px;
}
.btn4
{
    /* margin-top:5%; */
    /* margin-bottom: 5%; */
    /* margin-left:25%; */
    color: white;
    font-size: bold;
    font-weight: 500;
    border: 1px solid rgb(163, 58, 58);
    border-radius: 45px;
    padding: 1%;
    width: 25%;
    margin-top: 20px;
    background: linear-gradient(to right, red , yellow);
}
.btn4:hover
{
    background: seagreen;
}
.btn5
{
    margin-top: 20px;
    background-color: transparent;
    color: black;
    padding: 6px;
    border: 1px solid black;
    width: 30%;
    border-radius: 50px;
}
.moveright
{
    margin-left: 15px;
}
 
